@font-face {
  font-family: 'SFUIText';
  src: url('/assets/SanFranciscoText-Regular.otf');
}

body {
  background-color: $home-sky-color;
  height: auto;
}

header, .container {
  width: 100%;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
}

.navbar-nav > li > a {
  &:hover, &:focus {
    background-color: transparent;
  }

  .nav-item {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 500;
    margin: 5px auto;
    font-family: SFUIText, serif;
    color: $home-road-color;
  }
}

/** Navigation **/

nav {
  min-height: 10px;
  padding: 10px 20px;

  ul, .nav, .navbar-nav {
    width: 100%;

    .dropdown-menu > li {
      float: left;
    }
  }

  ul, .dropdown-menu {
    width: 120px;
    min-width: 120px;
  }

  li, .dropdown {
    float: right;
  }

  .li-item {
    float: right;
    text-transform: uppercase;
    list-style-type: none;
  }

  .nav-item {
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-family: SFUIText, serif;
    text-decoration: none;
    margin: 10px;

    &:hover {
      color: whitesmoke;
      font-size: 22px;
    }
  }
}

/* Footer */

footer {
  padding: 10px;
  width: 100%;
  color: $home-sky-color;
  position: absolute;
  bottom: 0;
  a {
    font-family: SFUIText, serif;
    color: white;
    font-size: 13px;
    &:hover {
      color: papayawhip;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    margin: auto 30px;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}