$home-road-sub-color: #626473;
$home-road-color: #4a3e4a;
$home-bus-color: #b72636;
$home-bus-window-color: #658492;
$home-bus-window-sub-color: #86A7C2;
$home-bus-wheel-color: #514552;
$home-sky-color: #2EB5E5;
$wheel-size: 60px;
$gray-medium-light: #eaeaea;
