<% provide(:title, "Home") %>
<h1 class="home-title">FIND A BUS</h1>

<div class='cloud'></div>
<div class='cloud_two'></div>
<div class='cloud_three'></div>
<div class='cloud_four'></div>
<div id="bus">
  <div id="busTop">
    <div id="busWindowsTop">
      <div class="busWindowsShadow"></div>
      <div class="busWindowsShadow1"></div>
      <div class="busWindowsShadow2"></div>
      <div class="busWindowsShadow3"></div>
    </div>
  </div>
  <div id="busMiddle">
    <div id="busWindowsMiddle">
      <div class="busWindowsShadow"></div>
      <div class="busWindowsShadow1"></div>
      <div class="busWindowsShadow2"></div>
      <div class="busWindowsShadow3"></div>
      <div class="busWindowsShadow4"></div>
    </div>
    <div id="moterRum"></div>
    <div id="moter"></div>
  </div>
  <div id="busBottom">
    <div id="busWindowsBottom"></div>
  </div>
  <div id="wheelLeft"></div>
  <div id="wheelRight"></div>
</div>

<div id="road">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
