<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="li-item"><%= link_to 'LOG IN', '#', class: 'nav-item' %></li>
        <li class="li-item"><%= link_to 'SIGN UP', new_user_path, class: 'nav-item' %></li>
      </ul>
    </nav>
  </div>
</header>