<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Danang Bus', root_path, class: 'home-title' %></li>
        <li class="li-item"><%= link_to 'LOG IN', login_path, class: 'nav-item' %></li>
        <li class="li-item"><%= link_to 'SIGN UP', new_user_path, class: 'nav-item' %></li>
      </ul>
    </nav>
  </div>
</header>